
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--xXa {
  display: flex;
  flex-direction: column;
  background-color: #cfe3ff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-ikv4-giU {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.6rem 4.2rem 2.4rem 59.5rem;

    .person-1-RAG {
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 60.2rem;
      width: 20.1rem;
      height: 5rem;
      position: relative;

      .person-1-MJp {
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .item--grt {
        line-height: 1.25;
        height: 4rem;
        position: absolute;
        left: 4.7rem;
        justify-content: center;
        font-weight: 400;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        width: 15.4rem;
        font-size: 3.2rem;
        white-space: nowrap;
        top: 0.7rem;
        align-items: center;
        display: flex;
      }
    }
    .rectangle-12-Z9z {
      align-items: center;
      width: 24.9rem;
      height: 6.9rem;
      display: flex;
      font-size: 4.8rem;
      font-family: Jua, 'Source Sans Pro';
      line-height: 1.25;
      color: #ffffff;
      white-space: nowrap;
      background-color: #f35c6e;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 55.4rem;
      justify-content: center;
      font-weight: 400;
    }
  }
  .auto-group-2nrw-qNQ {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;

    .item-2-noS {
      position: relative;
      background-size: 211.712% 104.223%;
      background-position: -20.8901rem -0.6123rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      margin-right: 18.3rem;
      width: 18.7rem;
      height: 29rem;
    }
    .auto-group-gfzz-UgG {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 16rem 2.6rem 0rem;
      width: 70rem;
      align-items: center;

      .auto-group-iasa-QZv {
        margin-bottom: 2.3rem;
        width: 100%;
        height: 70.1rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-9nQ {
          width: 70rem;
          height: 70rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .garner-price-range-deem-servant-quarantine-6Sk {
          font-size: 4rem;
          font-weight: 400;
          font-family: Jua, 'Source Sans Pro';
          width: 19.5rem;
          height: 65rem;
          position: absolute;
          left: 1.8rem;
          top: 5.1rem;
          display: flex;
          line-height: 1.25;
          color: #000000;
        }
        .line-1-ASc {
          position: absolute;
          left: 67.75rem;
          top: 2.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 0;
          height: 9rem;
        }
      }
      .rectangle-11-ttQ {
        margin: 0 25rem;
        font-weight: 400;
        line-height: 1.25;
        border-radius: 1rem;
        width: calc(100% - 50rem);
        display: flex;
        color: #ffffff;
        font-family: Jua, 'Source Sans Pro';
        align-items: center;
        font-size: 4rem;
        background-color: #4a5aad;
        flex-shrink: 0;
        height: 6rem;
        justify-content: center;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
    }
    .item-3-xdN {
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      width: 21rem;
      height: 29.9rem;
    }
  }
}
