
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--E5N {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #cfe3ff;

  .person-1-M9z {
    position: absolute;
    left: 119.7rem;
    top: 3.6rem;
    width: 20.1rem;
    height: 5rem;

    .person-1-V1J {
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .item--qL4 {
      width: 15.4rem;
      top: 0.7rem;
      display: flex;
      font-weight: 400;
      color: #000000;
      align-items: center;
      justify-content: center;
      height: 4rem;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 4.7rem;
      font-size: 3.2rem;
      line-height: 1.25;
    }
  }
  .auto-group-hntr-7oN {
    display: flex;
    align-items: flex-end;
    width: 105.4rem;
    height: 82.3rem;
    position: absolute;
    left: 3.3rem;
    top: 17.2rem;

    .rectangle-11-eHW {
      margin-right: 11.9rem;
      font-size: 4rem;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      width: 20rem;
      justify-content: center;
      font-weight: 400;
      color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 6rem;
      display: flex;
      line-height: 1.25;
      background-color: #4a5aad;
      flex-shrink: 0;
      align-items: center;
      border-radius: 1rem;
    }
    .auto-group-66ek-7wn {
      margin-bottom: 2.5rem;
      box-sizing: border-box;
      padding: 1.8rem 1.8rem 1.8rem 70.7rem;
      width: 73.5rem;
      height: 79.8rem;
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;

      .line-1-EmW {
        width: 100%;
        height: 14rem;
        background-color: #a5a5a5;
      }
    }
  }
  .rectangle-10-A9N {
    height: 6rem;
    display: flex;
    font-family: Jua, 'Source Sans Pro';
    left: 116.8rem;
    justify-content: center;
    font-size: 4rem;
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #4a5aad;
    width: 24rem;
    top: 93.5rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    align-items: center;
    line-height: 1.25;
    border-radius: 1rem;
  }
  .item--pji {
    font-size: 4.8rem;
    font-family: Jua, 'Source Sans Pro';
    white-space: nowrap;
    height: 6rem;
    display: flex;
    font-weight: 400;
    line-height: 1.25;
    color: #000000;
    position: absolute;
    justify-content: center;
    top: 10.7rem;
    align-items: center;
    width: 22.9rem;
    left: 60.5rem;
  }
  .rectangle-13-WcY {
    background-color: #ffffff;
    border-radius: 2rem;
    width: 73.5rem;
    padding: 5.1rem 1.5rem 0rem 1.5rem;
    height: 81rem;
    position: absolute;
    left: 35.2rem;
    top: 17.2rem;
    box-sizing: border-box;

    .rainbow-shimmer-wheat-trouble-mutual-pNL {
      font-family: Jua, 'Source Sans Pro';
      max-width: 17.4rem;
      display: flex;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
  }
}
