
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--fqA {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #cfe3ff;
  box-sizing: border-box;
  padding-top: 13.9rem;
  width: 100%;

  .item-2-PWG {
    width: 18.7rem;
    height: 29rem;
    position: relative;
    background-size: 211.712% 104.223%;
    background-position: -20.8901rem -0.6123rem;
    background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
    flex-shrink: 0;
    margin-right: 16.5rem;
  }
  .auto-group-dnjj-V3W {
    height: 69.8rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 14.3rem 18.7rem 0rem;
    width: 73.5rem;

    .rectangle-2-Pua {
      width: 73.5rem;
      height: 65rem;
      position: absolute;
      left: 0;
      top: 4.8rem;
      background-color: #ffffff;
      border-radius: 2rem;
    }
    .person-1-WzC {
      left: 21.1rem;
      top: 10.8rem;
      display: flex;
      align-items: flex-end;
      width: 29.5rem;
      height: 6.55rem;
      position: absolute;

      .person-1-r2U {
        width: 6.5rem;
        height: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.05rem;
      }
      .item--z8g {
        font-size: 4.8rem;
        line-height: 1.25;
        color: #000000;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-weight: 400;
      }
    }
    .clip-1-tUx {
      width: 8rem;
      height: 8rem;
      position: absolute;
      left: 32.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-10-DXE {
      font-size: 4rem;
      color: #ffffff;
      font-weight: 400;
      font-family: Jua, 'Source Sans Pro';
      width: 20rem;
      height: 6rem;
      left: 4.3rem;
      top: 60.2rem;
      position: absolute;
      align-items: center;
      line-height: 1.25;
      border-radius: 1rem;
      background-color: #4a5aad;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .rectangle-11-5JY {
      position: absolute;
      top: 60.2rem;
      display: flex;
      font-size: 4rem;
      color: #ffffff;
      left: 49.7rem;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 20rem;
      height: 6rem;
      font-weight: 400;
      white-space: nowrap;
      background-color: #4a5aad;
      align-items: center;
      line-height: 1.25;
      font-family: Jua, 'Source Sans Pro';
      border-radius: 1rem;
    }
    .item--LkG {
      display: flex;
      flex-direction: column;
      width: 51.8rem;
      height: 32.5rem;
      position: absolute;
      left: 4.55rem;
      top: 22.2rem;
      row-gap: 2.5rem;

      .item--qwv {
        font-size: 3.6rem;
        font-weight: 400;
        color: #5f5f5f;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        white-space: nowrap;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.25;
      }
      .email-abcdenavercom-xWk {
        justify-content: center;
        white-space: nowrap;
        flex-shrink: 0;
        color: #5f5f5f;
        font-family: Jua, 'Source Sans Pro';
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .abcd-UV6 {
        align-items: center;
        font-weight: 400;
        line-height: 1.25;
        flex-shrink: 0;
        width: 100%;
        justify-content: center;
        font-size: 3.6rem;
        color: #5f5f5f;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .item--DBn {
        color: #5f5f5f;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.25;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        flex-shrink: 0;
        width: 100%;
        display: flex;
      }
      .item-382-83r {
        align-items: center;
        font-weight: 400;
        white-space: nowrap;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3.6rem;
        line-height: 1.25;
        color: #5f5f5f;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .item-3-dFW {
    width: 21rem;
    height: 29.9rem;
    position: relative;
    background-size: 198.4% 102.154%;
    background-position: -0rem -0.322rem;
    background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
    flex-shrink: 0;
  }
}
