
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--gBz {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #cfe3ff;
  width: 100%;

  .auto-group-prtw-1zx {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.9rem 4.8rem 9.2rem 33.2rem;
    width: 100%;
    align-items: center;

    .person-1-YV6 {
      width: 20.1rem;
      height: 5rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 14.3rem 85.9rem;

      .person-1-snG {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        position: absolute;
      }
      .item--RHz {
        align-items: center;
        justify-content: center;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        position: absolute;
        top: 0.7rem;
        font-size: 3.2rem;
        font-weight: 400;
        left: 4.7rem;
        white-space: nowrap;
        width: 15.4rem;
        height: 4rem;
        display: flex;
        color: #000000;
      }
    }
    .rectangle-7-J6t {
      height: 12.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 41.5rem 9.2rem 0.3rem;
      width: calc(100% - 41.8rem);

      .study-1-d9A {
        position: relative;
        background-size: 100% 103.137%;
        background-position: 0 -0.1569rem;
        background-image: url('REPLACE_IMAGE:b317f63ac073350ed036623e585f1f4eb492f2f7');
        flex-shrink: 0;
        margin: 0.7rem 2.6rem 0rem 0rem;
        width: 10rem;
        height: 10rem;
      }
      .auto-group-xwjr-XEY {
        position: relative;
        flex-shrink: 0;
        width: 51.6rem;
        height: 100%;

        .rectangle-8-5G4 {
          border-radius: 2rem;
          width: 51.6rem;
          height: 10.5rem;
          position: absolute;
          left: 0;
          top: 2rem;
          background-color: #bb7450;
        }
        .rectangle-7-Qp8 {
          background-color: #ffa87b;
          border-radius: 2rem;
          width: 51.6rem;
          height: 10.5rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .item--AHW {
          left: 14.35rem;
          font-family: Jua, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.25;
          width: 22.9rem;
          top: 2.2rem;
          align-items: center;
          height: 6rem;
          position: absolute;
          display: flex;
          justify-content: center;
          font-size: 4.8rem;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
    .rectangle-9-EHN {
      margin-right: 41.6rem;
      width: calc(100% - 41.6rem);
      height: 12.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .see-1-NeU {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.9rem 2.8rem 0rem 0rem;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
      }
      .auto-group-vnxg-JY8 {
        width: 51.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-10-41W {
          top: 2rem;
          background-color: #924f57;
          border-radius: 2rem;
          width: 51.6rem;
          height: 10.5rem;
          position: absolute;
          left: 0;
        }
        .rectangle-9-zA4 {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #f35c6e;
          border-radius: 2rem;
          width: 51.6rem;
          height: 10.5rem;
        }
        .item--wLC {
          height: 6rem;
          left: 9.95rem;
          justify-content: center;
          font-size: 4.8rem;
          font-weight: 400;
          font-family: Jua, 'Source Sans Pro';
          position: absolute;
          display: flex;
          line-height: 1.25;
          width: 31.7rem;
          top: 2.3rem;
          align-items: center;
          color: #ffffff;
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-xe3s-bQk {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .item-2-9hA {
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      margin: 6.8rem 14.2rem 0rem 0rem;
      width: 18.7rem;
      height: 29rem;
      position: relative;
      background-size: 211.712% 104.223%;
      background-position: -20.8901rem -0.6123rem;
    }
    .rectangle-10-Rua {
      margin-right: 25.3rem;
      height: 12.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .competition-1-aXa {
        margin: 0rem 3.2rem 0.7rem 0rem;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-nxd2-hs6 {
        position: relative;
        flex-shrink: 0;
        width: 51.6rem;
        height: 100%;

        .rectangle-11-rjz {
          left: 0;
          top: 2rem;
          background-color: #3c235e;
          border-radius: 2rem;
          width: 51.6rem;
          height: 10.5rem;
          position: absolute;
        }
        .rectangle-10-QWc {
          top: 0;
          background-color: #5c3e84;
          border-radius: 2rem;
          width: 51.6rem;
          height: 10.5rem;
          position: absolute;
          left: 0;
        }
        .item--xY8 {
          top: 2.9rem;
          font-size: 4.8rem;
          line-height: 1.25;
          width: 24rem;
          display: flex;
          color: #ffffff;
          height: 6rem;
          font-family: Jua, 'Source Sans Pro';
          position: absolute;
          left: 13.75rem;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
    .item-3-qrp {
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      margin-top: 5.9rem;
      width: 21rem;
      height: 29.9rem;
    }
  }
}
