
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--v3A {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .rectangle-6-Lsa {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #cfe3ff;
  }
  .rectangle-6-tPJ {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #cfe3ff;
  }
  .person-1-SQp {
    width: 20.1rem;
    height: 5rem;
    position: absolute;
    left: 119.7rem;
    top: 3.6rem;

    .person-1-B7W {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
    }
    .item--m5i {
      left: 4.7rem;
      position: absolute;
      font-size: 3.2rem;
      font-family: Jua, 'Source Sans Pro';
      width: 15.4rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      height: 4rem;
      top: 0.7rem;
      justify-content: center;
    }
  }
  .rectangle-12-2nL {
    justify-content: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    font-family: Jua, 'Source Sans Pro';
    background-color: #4a5aad;
    width: 20rem;
    top: 93.5rem;
    font-weight: 400;
    line-height: 1.25;
    height: 6rem;
    position: absolute;
    align-items: center;
    font-size: 4rem;
    left: 120.6rem;
    display: flex;
    color: #ffffff;
    white-space: nowrap;
  }
  .item--JE4 {
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    height: 6rem;
    font-size: 4.8rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    width: 20.6rem;
    left: 61.45rem;
    top: 11.3rem;
    display: flex;
    position: absolute;
    font-family: Jua, 'Source Sans Pro';
  }
  .rectangle-2-zMn {
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 2rem;
    width: 73.5rem;
    height: 81rem;
    position: absolute;
    left: 35.2rem;
  }
  .line-1-X6p {
    background-color: #a5a5a5;
    width: 1rem;
    height: 15rem;
    position: absolute;
    left: 105.9rem;
    top: 19.5rem;
  }
  .q1-ivory-q2-status-q3-emerge-q4-prize--fD2 {
    left: 38.5rem;
    font-family: Jua, 'Source Sans Pro';
    width: 53.8rem;
    height: 65rem;
    position: absolute;
    top: 22.6rem;
    display: flex;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.25;
    color: #000000;
  }
  .frame-1-UAU {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 31.55rem;
    height: 6rem;
    position: absolute;
    left: 45.3rem;
    top: 27rem;

    .rectangle-17-QZv {
      align-items: center;
      flex-shrink: 0;
      margin-right: 15.95rem;
      height: 100%;
      display: flex;

      .rectangle-17-9nQ {
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
      }
      .o-Gs2 {
        display: flex;
        font-size: 4.8rem;
        font-family: Jua, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-18-pNk {
      display: flex;
      align-items: center;
      background-color: #000000;
      flex-shrink: 0;
      height: 100%;

      .rectangle-18-ymS {
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #000000;
      }
      .x-Vjn {
        display: flex;
        font-size: 4.8rem;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
  .frame-2-RdS {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 31.55rem;
    height: 6rem;
    position: absolute;
    left: 45.3rem;
    top: 47.4rem;

    .rectangle-17-AL8 {
      margin-right: 15.95rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-17-icY {
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ff0000;
        flex-shrink: 0;
      }
      .o-3Pv {
        color: #000000;
        flex-shrink: 0;
        font-size: 4.8rem;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
    }
    .rectangle-18-aue {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #000000;
      flex-shrink: 0;

      .rectangle-18-xFz {
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
      }
      .x-t9e {
        font-size: 4.8rem;
        flex-shrink: 0;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
      }
    }
  }
  .frame-3-Dhi {
    position: absolute;
    left: 45.3rem;
    top: 67.8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 31.55rem;
    height: 6rem;

    .rectangle-17-9rG {
      margin-right: 15.95rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-17-uqS {
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
      }
      .o-2v4 {
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        font-size: 4.8rem;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        font-weight: 400;
        color: #000000;
      }
    }
    .rectangle-18-Zf6 {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-18-vkY {
        background-color: #ff0000;
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
      }
      .x-Fnp {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        align-items: center;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .frame-4-11J {
    align-items: center;
    width: 31.55rem;
    height: 6rem;
    position: absolute;
    left: 45.3rem;
    top: 88.2rem;
    overflow: hidden;
    display: flex;

    .rectangle-17-YG8 {
      align-items: center;
      flex-shrink: 0;
      margin-right: 15.95rem;
      height: 100%;
      display: flex;

      .rectangle-17-hep {
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
      }
      .o-dHa {
        align-items: center;
        font-size: 4.8rem;
        color: #000000;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .rectangle-18-meg {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-18-LSt {
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
      }
      .x-UJC {
        display: flex;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 4.8rem;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .item-11-pcx {
    font-size: 6.4rem;
    white-space: nowrap;
    height: 8rem;
    left: 97.8rem;
    top: 9.9rem;
    font-family: Jua, 'Source Sans Pro';
    width: 11.7rem;
    display: flex;
    font-weight: 400;
    color: #ff0000;
    position: absolute;
    justify-content: center;
    line-height: 1.25;
    align-items: center;
  }
}
