
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--oCU {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #cfe3ff;

  .auto-group-rdfe-V5J {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.7rem 49rem 4.2rem 49rem;
    width: 100%;
    align-items: center;

    .item-900--D1J {
      margin-bottom: 1.3rem;
      display: flex;
      justify-content: center;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.25;
      flex-shrink: 0;
    }
    .rectangle-1-VUc {
      color: #ffffff;
      display: flex;
      border-radius: 2rem;
      font-size: 6.4rem;
      font-weight: 400;
      font-family: Jua, 'Source Sans Pro';
      justify-content: center;
      filter: blur(0.2rem);
      width: 100%;
      height: 11rem;
      align-items: center;
      background-color: #4a5aad;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.25;
      white-space: nowrap;
    }
  }
  .auto-group-y5bw-MFv {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    width: 100%;

    .item-2-hKn {
      background-size: 211.712% 104.223%;
      background-position: -20.8901rem -0.6123rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      margin-right: 13.4rem;
      width: 18.7rem;
      height: 29rem;
      position: relative;
    }
    .auto-group-dayg-BEx {
      display: flex;
      flex-direction: column;
      border-radius: 2rem;
      padding: 4.35rem 18.55rem 3.8rem 18.65rem;
      width: 79.7rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 11.2rem 11.3rem 0rem;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.6000000238);

      .item--5LL {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f35c6e;
        flex-shrink: 0;
        margin-bottom: 13.65rem;
        font-size: 5.5rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--PM2 {
        display: flex;
        font-size: 4.8rem;
        color: #000000;
        flex-shrink: 0;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        margin-bottom: 13.3rem;
        max-width: 42.5rem;
        align-items: center;
        justify-content: center;
        font-weight: 400;
      }
      .rectangle-5-EcY {
        font-weight: 400;
        border-radius: 2rem;
        flex-shrink: 0;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        justify-content: center;
        background-color: #4a5aad;
        margin: 0 13.15rem;
        height: 7.9rem;
        display: flex;
        font-size: 4.8rem;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        width: calc(100% - 26.3rem);
      }
    }
    .item-3-34C {
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      width: 21rem;
      height: 29.9rem;
    }
  }
}
