
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--guW {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #cfe3ff;
  box-sizing: border-box;
  padding-top: 5.7rem;
  width: 100%;

  .item-2-BLU {
    width: 18.7rem;
    height: 29rem;
    position: relative;
    background-size: 211.712% 104.223%;
    background-position: -20.8901rem -0.6123rem;
    background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
    flex-shrink: 0;
    margin-right: 8.3rem;
  }
  .auto-group-dvpw-fWY {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 6rem 2.9rem 0rem;
    width: 90rem;
    row-gap: 2.6rem;
    align-items: center;
    display: flex;

    .rectangle-9-yn8 {
      border-radius: 2rem;
      flex-shrink: 0;
      font-size: 4.8rem;
      width: calc(100% - 73.8rem);
      height: 8.4rem;
      justify-content: center;
      font-weight: 400;
      margin: 0 36.9rem;
      line-height: 1.25;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      display: flex;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #ffffff;
      align-items: center;
    }
    .auto-group-hqwu-Ru2 {
      height: 71.8rem;
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8.85rem 28rem 8.95rem 28rem;
      width: 100%;

      .item-7-20-1019-10--9a8 {
        align-items: center;
        font-size: 4.8rem;
        line-height: 1.25;
        max-width: 34rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';

        .item-7-20-1019-10--9a8-sub-0 {
          font-size: 9.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #4a5aad;
          font-family: Jua, 'Source Sans Pro';
        }
        .item-7-20-1019-10--9a8-sub-1 {
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Jua, 'Source Sans Pro';
          font-size: 9.6rem;
        }
        .item-7-20-1019-10--9a8-sub-2 {
        }
      }
    }
    .auto-group-wzeg-R3n {
      width: 100%;
      height: 8.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-10-AXA {
        font-size: 4.8rem;
        font-weight: 400;
        font-family: Jua, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16.2rem;
        white-space: nowrap;
        background-color: #4a5aad;
        border-radius: 2rem;
        margin-right: 57.6rem;
        height: 100%;
        color: #ffffff;
        line-height: 1.25;
        flex-shrink: 0;
      }
      .rectangle-8-q7W {
        height: 100%;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        width: 16.2rem;
        color: #ffffff;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        font-size: 4.8rem;
        font-weight: 400;
        background-color: #4a5aad;
        align-items: center;
        line-height: 1.25;
      }
    }
  }
  .item-3-udA {
    position: relative;
    background-size: 198.4% 102.154%;
    background-position: -0rem -0.322rem;
    background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
    flex-shrink: 0;
    width: 21rem;
    height: 29.9rem;
  }
}
