
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--yxC {
  padding: 3.6rem 4.2rem 22.2rem 29.5rem;
  position: relative;
  display: flex;
  background-color: #cfe3ff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  .person-1-5EY {
    height: 5rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 15.3rem 90.2rem;
    width: 20.1rem;

    .person-1-owE {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
    }
    .item--m7N {
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      color: #000000;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
      top: 0.7rem;
      left: 4.7rem;
      line-height: 1.25;
      width: 15.4rem;
    }
  }
  .rectangle-7-3ag {
    height: 10rem;
    display: flex;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 400;
    line-height: 1.25;
    color: #000000;
    margin: 0rem 25.3rem 8.2rem 0rem;
    align-items: center;
    font-size: 4.8rem;
    font-family: Jua, 'Source Sans Pro';
    box-sizing: border-box;
    width: 85rem;
    justify-content: center;
    border: solid 0.2rem #000000;
    background-color: #ffffff;
    border-radius: 2rem;
  }
  .auto-group-xc9v-WjA {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6000000238);
    border-radius: 2rem;
    flex-shrink: 0;
    margin-right: 25.3rem;
    box-sizing: border-box;
    padding: 16.5rem 3.1rem 2.8rem 3.1rem;

    .rectangle-13-qFe {
      width: 12rem;
      height: 6rem;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      background-color: #4a5aad;
      align-items: center;
      white-space: nowrap;
      margin: 12.8rem 2.7rem 0rem 0rem;
      justify-content: center;
      line-height: 1.25;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-size: 3.6rem;
      font-family: Jua, 'Source Sans Pro';
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .rectangle-9-UpQ {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 19.35rem 12.8rem 0rem;
      display: flex;

      .rectangle-9-DX6 {
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.55rem 0.8rem 0rem;
        width: 4rem;
        height: 4rem;
        border: solid 0.2rem #000000;
      }
      .item-15-vgQ {
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        font-size: 4.8rem;
      }
    }
    .rectangle-10-3W8 {
      margin: 0rem 1.05rem 12.8rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-10-zRN {
        margin: 0rem 1.95rem 0.8rem 0rem;
        width: 4rem;
        height: 4rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .item-20-vK2 {
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 4.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        display: flex;
        line-height: 1.25;
      }
    }
    .rectangle-12-3uS {
      margin-top: 12.8rem;
      background-color: #4a5aad;
      border-radius: 1rem;
      color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 6rem;
      display: flex;
      justify-content: center;
      font-family: Jua, 'Source Sans Pro';
      width: 12rem;
      align-items: center;
      font-size: 3.6rem;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
    }
  }
}
