
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--v8Y {
  flex-direction: column;
  background-color: #cfe3ff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-eupk-DtL {
    box-sizing: border-box;
    padding: 3rem 4.2rem 1.1rem 3.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-fr6x-Yvc {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      width: 100%;
      display: flex;

      .item--7D2 {
        font-weight: 400;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        font-size: 3.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 100.9rem;
        align-items: center;
        line-height: 1.25;
      }
      .person-1-o5r {
        margin-top: 0.6rem;
        width: 20.1rem;
        height: 5rem;
        position: relative;
        flex-shrink: 0;

        .person-1-YJL {
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .item--Uxg {
          left: 4.7rem;
          display: flex;
          font-family: Jua, 'Source Sans Pro';
          width: 15.4rem;
          height: 4rem;
          position: absolute;
          white-space: nowrap;
          align-items: center;
          font-weight: 400;
          color: #000000;
          line-height: 1.25;
          top: 0.7rem;
          justify-content: center;
          font-size: 3.2rem;
        }
      }
    }
    .rectangle-15-AKi {
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 4.8rem;
      font-family: Jua, 'Source Sans Pro';
      border-radius: 2rem;
      margin: 0rem 55.4rem 2.4rem 56.1rem;
      height: 6.9rem;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      width: calc(100% - 111.5rem);
      line-height: 1.25;
      color: #ffffff;
      background-color: #ffa87b;
    }
    .auto-group-8vjc-EKa {
      margin: 0rem 32.8rem 0rem 33.6rem;
      padding: 12.9rem 3.8rem 13rem 7.5rem;
      align-items: center;
      box-sizing: border-box;
      width: calc(100% - 66.4rem);
      display: flex;
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;

      .item--ikY {
        margin: 0.1rem 2.9rem 0rem 0rem;
        max-width: 7.7rem;
        text-align: right;
        display: flex;
        font-weight: 400;
        flex-shrink: 0;
        font-size: 6.4rem;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
      }
      .auto-group-ofrg-QtG {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        width: 48.1rem;

        .rectangle-16-kSL {
          flex-shrink: 0;
          margin-bottom: 8.3rem;
          width: 100%;
          height: 7.7rem;
          border: solid 0.2rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .rectangle-17-GvU {
          border: solid 0.2rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 100%;
          height: 7.7rem;
        }
      }
    }
  }
  .auto-group-ra8g-Nic {
    width: 100%;
    height: 29.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-qhha-XbW {
      padding: 0.9rem 16rem 0rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;

      .item-2-4LY {
        width: 18.7rem;
        height: 29rem;
        position: relative;
        background-size: 211.712% 104.223%;
        background-position: -20.8901rem -0.6123rem;
        background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
        flex-shrink: 0;
        margin-right: 18.3rem;
      }
      .rectangle-10-YWc {
        display: flex;
        color: #ffffff;
        font-family: Jua, 'Source Sans Pro';
        height: 6rem;
        align-items: center;
        justify-content: center;
        width: 12rem;
        font-size: 4rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.6rem 38rem 0rem 0rem;
        font-weight: 400;
        line-height: 1.25;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #4a5aad;
        border-radius: 1rem;
      }
      .rectangle-11-oSY {
        align-items: center;
        font-weight: 400;
        color: #ffffff;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #4a5aad;
        height: 6rem;
        display: flex;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        width: 20rem;
        border-radius: 1rem;
        margin-top: 0.6rem;
        font-size: 4rem;
        white-space: nowrap;
        justify-content: center;
      }
    }
    .item-3-fje {
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      width: 21rem;
      height: 29.9rem;
    }
  }
}
