
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--x64 {
  background-color: #cfe3ff;
  box-sizing: border-box;
  padding-top: 21.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;

  .item-2-3NQ {
    flex-shrink: 0;
    margin-right: 16.5rem;
    width: 18.7rem;
    height: 29rem;
    position: relative;
    background-size: 211.712% 104.223%;
    background-position: -20.8901rem -0.6123rem;
    background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
  }
  .rectangle-2-8ek {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 14.3rem 26.2rem 0rem;
    width: 73.5rem;
    height: 54.8rem;

    .rectangle-2-fPn {
      top: 4.8rem;
      background-color: #ffffff;
      border-radius: 2rem;
      width: 73.5rem;
      height: 50rem;
      position: absolute;
      left: 0;
    }
    .clip-1-boE {
      width: 8rem;
      height: 8rem;
      position: absolute;
      left: 32.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-5-YiU {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 7.9rem;
      left: 28.7rem;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      font-weight: 400;
      background-color: #4a5aad;
      width: 16.2rem;
      top: 42rem;
      border-radius: 2rem;
      line-height: 1.25;
      font-family: Jua, 'Source Sans Pro';
      position: absolute;
      display: flex;
      justify-content: center;
      font-size: 4.8rem;
    }
    .item--zaU {
      justify-content: center;
      top: 11.05rem;
      align-items: center;
      font-weight: 400;
      line-height: 1.25;
      width: 28.8rem;
      height: 6rem;
      color: #f35c6e;
      white-space: nowrap;
      position: absolute;
      font-size: 4.8rem;
      font-family: Jua, 'Source Sans Pro';
      left: 22.4rem;
      display: flex;
    }
    .item--suA {
      display: flex;
      line-height: 1.25;
      position: absolute;
      left: 16.15rem;
      width: 41.3rem;
      height: 6rem;
      top: 26.5rem;
      font-size: 4.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
  }
  .item-3-XTv {
    position: relative;
    background-size: 198.4% 102.154%;
    background-position: -0rem -0.322rem;
    background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
    flex-shrink: 0;
    width: 21rem;
    height: 29.9rem;
  }
}
