
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--Dj6 {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #cfe3ff;
  width: 100%;
  overflow: hidden;

  .auto-group-peqg-85N {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 4.2rem 1.1rem 3.4rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-nkrn-TNY {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      width: 100%;
      display: flex;

      .item--pD6 {
        white-space: nowrap;
        margin-right: 100.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 3.6rem;
        color: #000000;
      }
      .person-1-Wbi {
        margin-top: 0.6rem;
        width: 20.1rem;
        height: 5rem;
        position: relative;
        flex-shrink: 0;

        .person-1-rfa {
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .item--QBJ {
          height: 4rem;
          position: absolute;
          left: 4.7rem;
          top: 0.7rem;
          display: flex;
          line-height: 1.25;
          width: 15.4rem;
          font-family: Jua, 'Source Sans Pro';
          font-size: 3.2rem;
          color: #000000;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
    .rectangle-15-g8p {
      margin: 0rem 55.4rem 2.4rem 56.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4.8rem;
      line-height: 1.25;
      border-radius: 2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Jua, 'Source Sans Pro';
      background-color: #ffa87b;
      flex-shrink: 0;
      width: calc(100% - 111.5rem);
      height: 6.9rem;
      white-space: nowrap;
    }
    .auto-group-jsf6-YB2 {
      display: flex;
      justify-content: center;
      font-size: 6.4rem;
      white-space: nowrap;
      width: calc(100% - 66.4rem);
      font-weight: 400;
      border-radius: 2rem;
      align-items: center;
      line-height: 1.25;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      margin: 0rem 32.8rem 0rem 33.6rem;
      background-color: #ffffff;
      flex-shrink: 0;
      height: 50rem;
    }
  }
  .auto-group-91s6-CWU {
    width: 100%;
    height: 29.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-i9tw-wix {
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.9rem 45rem 0rem 0rem;
      height: 100%;
      display: flex;

      .item-2-Uyn {
        position: relative;
        background-size: 211.712% 104.223%;
        background-position: -20.8901rem -0.6123rem;
        background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
        flex-shrink: 0;
        margin-right: 47.3rem;
        width: 18.7rem;
        height: 29rem;
      }
      .rectangle-10-NZN {
        font-size: 4rem;
        font-weight: 400;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #4a5aad;
        flex-shrink: 0;
        width: 12rem;
        height: 6rem;
        align-items: center;
        justify-content: center;
        line-height: 1.25;
        border-radius: 1rem;
        margin-top: 0.4rem;
        display: flex;
        color: #ffffff;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
    }
    .item-3-qSx {
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      width: 21rem;
      height: 29.9rem;
    }
  }
}
