
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--Mcc {
  padding: 3.6rem 3.2rem 2.1rem 3.3rem;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #cfe3ff;
  overflow: hidden;

  .person-1-4G8 {
    margin: 0rem 0rem 2.1rem 115.4rem;
    width: 20.1rem;
    height: 5rem;
    position: relative;
    flex-shrink: 0;

    .person-1-zQg {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
    }
    .item--9Ha {
      top: 0.7rem;
      font-size: 3.2rem;
      font-family: Jua, 'Source Sans Pro';
      width: 15.4rem;
      height: 4rem;
      align-items: center;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      position: absolute;
      left: 4.7rem;
      display: flex;
      justify-content: center;
      white-space: nowrap;
    }
  }
  .item--pPi {
    justify-content: center;
    font-size: 4.8rem;
    line-height: 1.25;
    font-family: Jua, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;
    flex-shrink: 0;
    margin: 0rem 0.2rem 0.5rem 0rem;
    font-weight: 400;
  }
  .auto-group-v2cx-iV6 {
    width: 100%;
    height: 83.1rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .rectangle-11-ffE {
      display: flex;
      font-size: 4rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      margin: 0rem 11.9rem 0.8rem 0rem;
      height: 6rem;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.25;
      width: 20rem;
      color: #ffffff;
      font-family: Jua, 'Source Sans Pro';
      background-color: #4a5aad;
    }
    .auto-group-r9xu-Kjn {
      position: relative;
      flex-shrink: 0;
      margin-right: 8.1rem;
      width: 73.5rem;
      height: 100%;

      .rectangle-2-4Ba {
        width: 73.5rem;
        height: 79.8rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        border-radius: 2rem;
      }
      .rectangle-12-PUk {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 73.5rem;
        height: 79.8rem;
      }
      .rectangle-13-vzU {
        left: 0;
        top: 0;
        width: 73.5rem;
        height: 83.1rem;
        position: absolute;

        .rectangle-13-5Ma {
          width: 73.5rem;
          height: 81rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .rainbow-shimmer-wheat-trouble-mutual-dP6 {
          line-height: 1.25;
          width: 17.4rem;
          left: 1.5rem;
          top: 5.1rem;
          display: flex;
          font-size: 4.8rem;
          font-weight: 400;
          color: #000000;
          font-family: Jua, 'Source Sans Pro';
          height: 78rem;
          position: absolute;
        }
        .line-1-Vw6 {
          width: 1rem;
          height: 14rem;
          position: absolute;
          left: 70.7rem;
          top: 1.8rem;
          background-color: #a5a5a5;
        }
      }
    }
    .rectangle-10-S5e {
      font-family: Jua, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      align-items: center;
      color: #ffffff;
      display: flex;
      white-space: nowrap;
      width: 24rem;
      height: 6rem;
      line-height: 1.25;
      background-color: #4a5aad;
      margin-bottom: 0.8rem;
      font-size: 4rem;
      justify-content: center;
      font-weight: 400;
    }
  }
}
