
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--MqS {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-6-GSc {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #cfe3ff;
  }
  .rectangle-6-oxL {
    top: 0;
    background-color: #cfe3ff;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .person-1-xaL {
    left: 119.7rem;
    top: 3.6rem;
    width: 20.1rem;
    height: 5rem;
    position: absolute;

    .person-1-W64 {
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .item--FJY {
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 4.7rem;
      display: flex;
      color: #000000;
      width: 15.4rem;
      top: 0.7rem;
      line-height: 1.25;
      font-size: 3.2rem;
      font-family: Jua, 'Source Sans Pro';
      height: 4rem;
      align-items: center;
      justify-content: center;
    }
  }
  .rectangle-11-8dE {
    height: 6rem;
    left: 3.3rem;
    top: 93.5rem;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    width: 20rem;
    align-items: center;
    justify-content: center;
    font-family: Jua, 'Source Sans Pro';
    background-color: #4a5aad;
    display: flex;
    font-size: 4rem;
    line-height: 1.25;
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
  }
  .rectangle-12-ojN {
    color: #ffffff;
    font-family: Jua, 'Source Sans Pro';
    border-radius: 1rem;
    height: 6rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #4a5aad;
    width: 20rem;
    top: 93.5rem;
    font-size: 4rem;
    white-space: nowrap;
    left: 120.6rem;
    display: flex;
    font-weight: 400;
    line-height: 1.25;
  }
  .item--rhe {
    top: 11.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    width: 31.9rem;
    height: 6rem;
    font-weight: 400;
    white-space: nowrap;
    left: 55.8rem;
    font-size: 4.8rem;
    font-family: Jua, 'Source Sans Pro';
    position: absolute;
    color: #000000;
  }
  .rectangle-2-9Ax {
    left: 35.2rem;
    top: 17.9rem;
    background-color: #ffffff;
    border-radius: 2rem;
    width: 73.5rem;
    height: 81rem;
    position: absolute;
  }
  .line-1-Uj2 {
    position: absolute;
    left: 105.9rem;
    top: 19.5rem;
    background-color: #a5a5a5;
    width: 1rem;
    height: 15rem;
  }
  .q1-ivory-q2-status-q3-emerge-q4-prize--pnt {
    top: 22.6rem;
    font-size: 4rem;
    color: #000000;
    font-family: Jua, 'Source Sans Pro';
    font-weight: 400;
    line-height: 1.25;
    width: 53.8rem;
    height: 65rem;
    position: absolute;
    left: 38.5rem;
    display: flex;
  }
  .frame-1-Ebi {
    position: absolute;
    left: 45.3rem;
    top: 27rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 31.55rem;
    height: 6rem;

    .rectangle-17-y3W {
      align-items: center;
      flex-shrink: 0;
      margin-right: 15.95rem;
      height: 100%;
      display: flex;

      .rectangle-17-KdA {
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
      }
      .o-F12 {
        font-size: 4.8rem;
        font-weight: 400;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        color: #000000;
        display: flex;
        line-height: 1.25;
      }
    }
    .rectangle-18-yhi {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-18-LoA {
        margin: 0rem 1.75rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .x-fqS {
        align-items: center;
        justify-content: center;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
  .frame-2-CqN {
    width: 31.55rem;
    height: 6rem;
    position: absolute;
    left: 45.3rem;
    top: 47.4rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    .rectangle-17-x3r {
      align-items: center;
      flex-shrink: 0;
      margin-right: 15.95rem;
      height: 100%;
      display: flex;

      .rectangle-17-7SY {
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .o-eBa {
        font-weight: 400;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 4.8rem;
        color: #000000;
        display: flex;
      }
    }
    .rectangle-18-nHn {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-18-wwN {
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
      }
      .x-gPA {
        display: flex;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 4.8rem;
        flex-shrink: 0;
      }
    }
  }
  .frame-3-1wE {
    top: 67.8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 31.55rem;
    height: 6rem;
    position: absolute;
    left: 45.3rem;

    .rectangle-17-ZSx {
      margin-right: 15.95rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-17-vHW {
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
      }
      .o-ezC {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.25;
        flex-shrink: 0;
        font-size: 4.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .rectangle-18-beY {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-18-ZrG {
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
      }
      .x-u9S {
        font-size: 4.8rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
      }
    }
  }
  .frame-4-EBi {
    position: absolute;
    left: 45.3rem;
    top: 88.2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 31.55rem;
    height: 6rem;

    .rectangle-17-Ar4 {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 15.95rem;

      .rectangle-17-isa {
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.65rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
      }
      .o-rD6 {
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        display: flex;
        justify-content: center;
        color: #000000;
        white-space: nowrap;
      }
    }
    .rectangle-18-ncY {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-18-Yrc {
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.75rem 0.8rem 0rem;
        width: 3rem;
        height: 3rem;
        border: solid 0.2rem #000000;
      }
      .x-V1A {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        line-height: 1.25;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 4.8rem;
        font-weight: 400;
        color: #000000;
      }
    }
  }
}
