
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--RVz {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #cfe3ff;
  width: 100%;
  overflow: hidden;

  .auto-group-bmuu-XhS {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.7rem 49rem 4.2rem 49rem;
    width: 100%;
    align-items: center;

    .item-900--en4 {
      margin-bottom: 1.3rem;
      align-items: center;
      font-weight: 400;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      font-size: 4rem;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .rectangle-1-x24 {
      filter: blur(0.2rem);
      border-radius: 2rem;
      width: 100%;
      font-size: 6.4rem;
      font-weight: 400;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      height: 11rem;
      font-family: Jua, 'Source Sans Pro';
      background-color: #4a5aad;
    }
  }
  .auto-group-cmma-dtt {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    width: 100%;

    .item-2-o2g {
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      margin-right: 13.4rem;
      width: 18.7rem;
      height: 29rem;
      position: relative;
      background-size: 211.712% 104.223%;
      background-position: -20.8901rem -0.6123rem;
    }
    .auto-group-1vsg-gsA {
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 11.2rem 11.3rem 0rem;
      padding: 4.35rem 13.8rem 3.8rem 13.9rem;
      width: 79.7rem;
      display: flex;
      background-color: rgba(255, 255, 255, 0.6000000238);
      border-radius: 2rem;

      .item--nfJ {
        font-size: 5.5rem;
        font-weight: 400;
        line-height: 1.25;
        color: #f35c6e;
        white-space: nowrap;
        margin-bottom: 13.65rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .email--hGU {
        font-family: Jua, 'Source Sans Pro';
        margin-bottom: 13.3rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        flex-shrink: 0;
        max-width: 52rem;
        align-items: center;
        font-size: 4.8rem;
      }
      .rectangle-5-nHv {
        align-items: center;
        font-size: 4.8rem;
        width: calc(100% - 35.8rem);
        height: 7.9rem;
        line-height: 1.25;
        background-color: #4a5aad;
        flex-shrink: 0;
        font-weight: 400;
        border-radius: 2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin: 0 17.9rem;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .item-3-ytC {
      width: 21rem;
      height: 29.9rem;
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
    }
  }
}
