
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--5BN {
  display: flex;
  background-color: #cfe3ff;
  padding: 3.6rem 4.2rem 22.2rem 29.5rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .person-1-mK6 {
    height: 5rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 15.3rem 90.2rem;
    width: 20.1rem;

    .person-1-6cG {
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .item--r5e {
      height: 4rem;
      align-items: center;
      font-size: 3.2rem;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      left: 4.7rem;
      display: flex;
      top: 0.7rem;
      line-height: 1.25;
      width: 15.4rem;
      position: absolute;
      justify-content: center;
      font-weight: 400;
    }
  }
  .rectangle-7-j9S {
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 2rem;
    margin: 0rem 25.3rem 8.2rem 0rem;
    height: 10rem;
    justify-content: center;
    font-size: 4.8rem;
    width: 85rem;
    display: flex;
    color: #000000;
    background-color: #ffffff;
    border: solid 0.2rem #000000;
    flex-shrink: 0;
    align-items: center;
    font-weight: 400;
    line-height: 1.25;
    font-family: Jua, 'Source Sans Pro';
  }
  .auto-group-6ue4-bBe {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6000000238);
    border-radius: 2rem;
    flex-shrink: 0;
    margin-right: 25.3rem;
    box-sizing: border-box;
    padding: 16.5rem 3.1rem 2.8rem 3.1rem;
    display: flex;

    .rectangle-13-Jrk {
      background-color: #4a5aad;
      width: 12rem;
      display: flex;
      align-items: center;
      color: #ffffff;
      height: 6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      justify-content: center;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.25;
      margin: 12.8rem 2.7rem 0rem 0rem;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
    }
    .rectangle-9-xgQ {
      margin: 0rem 19.35rem 12.8rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-9-73W {
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 1.55rem 0.8rem 0rem;
        width: 4rem;
        height: 4rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
      }
      .item-15-pyW {
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        line-height: 1.25;
        white-space: nowrap;
        font-size: 4.8rem;
      }
    }
    .rectangle-10-xK2 {
      flex-shrink: 0;
      margin: 0rem 1.15rem 12.8rem 0rem;
      display: flex;
      align-items: center;

      .rectangle-10-6g8 {
        margin: 0rem 2.05rem 0.8rem 0rem;
        width: 4rem;
        height: 4rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .item-20-RiQ {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Jua, 'Source Sans Pro';
      }
    }
    .rectangle-12-M6G {
      height: 6rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.25;
      justify-content: center;
      background-color: #4a5aad;
      border-radius: 1rem;
      margin-top: 12.8rem;
      align-items: center;
      font-family: Jua, 'Source Sans Pro';
      width: 12rem;
      display: flex;
      color: #ffffff;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
    }
  }
}
