
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.x-S5e {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #cfe3ff;
  width: 100%;
  overflow: hidden;

  .auto-group-gkhi-aBr {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.6rem 4.2rem 2.4rem 59.5rem;
    width: 100%;

    .person-1-6vt {
      height: 5rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 60.2rem;
      width: 20.1rem;

      .person-1-dfv {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        position: absolute;
      }
      .item--ZpU {
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        left: 4.7rem;
        align-items: center;
        justify-content: center;
        display: flex;
        line-height: 1.25;
        color: #000000;
        height: 4rem;
        top: 0.7rem;
        font-weight: 400;
        width: 15.4rem;
        position: absolute;
        font-size: 3.2rem;
      }
    }
    .rectangle-15-qX6 {
      font-size: 4.8rem;
      font-family: Jua, 'Source Sans Pro';
      width: 24.9rem;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      background-color: #ffa87b;
      border-radius: 2rem;
      margin-right: 55.4rem;
      height: 6.9rem;
      align-items: center;
      justify-content: center;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-8ajt-JvU {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .item-2-rh6 {
      position: relative;
      background-size: 211.712% 104.223%;
      background-position: -20.8901rem -0.6123rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      margin-right: 18.3rem;
      width: 18.7rem;
      height: 29rem;
    }
    .auto-group-1eze-LsA {
      margin: 0rem 16rem 2.6rem 0rem;
      width: 70rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-yksa-scC {
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 2rem;
        margin-bottom: 2.4rem;
        box-sizing: border-box;
        padding: 2.2rem 10rem 24.4rem 9.9rem;
        align-items: center;
        width: 100%;
        display: flex;
        flex-shrink: 0;

        .auto-group-b5ex-CPa {
          width: 100%;
          align-items: center;
          border: solid 0.2rem #000000;
          flex-shrink: 0;
          background-color: #ffffff;
          border-radius: 1.5rem;
          margin-bottom: 25.25rem;
          box-sizing: border-box;
          padding: 0.5rem 1rem 0.5rem 2.05rem;
          display: flex;

          .dskvsddso-82L {
            color: #000000;
            font-family: Jua, 'Source Sans Pro';
            margin-right: 30.25rem;
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            font-weight: 400;
            justify-content: center;
            line-height: 1.25;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-1-qxL {
            height: 2.982rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.018rem;
            width: 3rem;
          }
        }
        .item--Y64 {
          align-items: center;
          font-family: Jua, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.15rem 2rem;
          justify-content: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          display: flex;
        }
        .rectangle-10-Qtx {
          background-color: #4a5aad;
          margin: 0rem 19rem 0rem 19.1rem;
          display: flex;
          font-size: 4rem;
          font-weight: 400;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          line-height: 1.25;
          color: #ffffff;
          white-space: nowrap;
          height: 6rem;
          align-items: center;
          width: calc(100% - 38.1rem);
          justify-content: center;
          font-family: Jua, 'Source Sans Pro';
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .rectangle-11-qDa {
        font-size: 4rem;
        border-radius: 1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        flex-shrink: 0;
        margin: 0 25rem;
        height: 6rem;
        display: flex;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: calc(100% - 50rem);
        align-items: center;
        justify-content: center;
        font-family: Jua, 'Source Sans Pro';
        background-color: #4a5aad;
      }
    }
    .item-3-Wac {
      position: relative;
      background-size: 198.4% 102.154%;
      background-position: -0rem -0.322rem;
      background-image: url('REPLACE_IMAGE:6212ff70354cb17f7fa3c5f52425874575cf2708');
      flex-shrink: 0;
      width: 21rem;
      height: 29.9rem;
    }
  }
}
