<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>티어 확인하기 페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/groupTier.css" />
  </head>
  <body>
    <div class="item--LQp">
      <div class="person-1-DzQ">
        <img
          class="person-1-A8x"
          src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-cqE.png"
        />
        <div class="item--heg">마이페이지</div>
      </div>
      <div class="rectangle-12-aCg">
        <div class="rectangle-12-hYC"></div>
        <img
          class="item-1-dwe"
          src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-SoJ.png"
        />
        <div class="item--yVi">경쟁 규칙</div>
        <div class="item-1--52x">
          <span class="item-1--52x-sub-0">오늘의 단어 테스트에서 </span>
          <span class="item-1--52x-sub-1">문제 하나 당 1점씩 누적</span>
        </div>
        <div class="frame-1-qpk">
          <div class="auto-group-egta-B7v">
            <img
              class="item-2-5yz"
              src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-DQU.png"
            />
            <img
              class="item-1-2PS"
              src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-p9e.png"
            />
            <img
              class="item-1-9yr"
              src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-9u2.png"
            />
          </div>
          <div class="auto-group-bohj-tgY">
            <div class="item-1799-8001199-1200--Si4">
              브론즈 1~799점
              <br />
              실버 800~1199점
              <br />
              골드 1200점 이상
            </div>
            <img class="arrow-2-Whv" src="REPLACE_IMAGE:I138:665;34:309" />
            <img class="arrow-3-3xk" src="REPLACE_IMAGE:I138:665;34:310" />
            <img class="arrow-4-CKr" src="REPLACE_IMAGE:I138:665;34:311" />
          </div>
        </div>
      </div>
      <div class="auto-group-88yy-8jJ">
        <div class="item--EGY">
          <div class="item--xiL">내 티어 :</div>
          <img
            class="item-3-tM6"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-RNG.png"
          />
          <div class="item--2CQ">브론즈</div>
        </div>
        <div class="item-382-MEg">내 점수 : 382점</div>
      </div>
      <div class="rectangle-11-3dJ">나가기</div>
    </div>
  </body>
</html>
