<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>그룹에 이미 추가된 단어 안내메세지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/groupAlreadyAdded.css" />
  </head>
  <body>
    <div class="item--YzU">
      <div class="auto-group-aeue-s1A">
        <div class="person-1-CZE">
          <img
            class="person-1-qMJ"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-jag.png"
          />
          <div class="item--Bg4">마이페이지</div>
        </div>
        <div class="rectangle-15-Tda">전체 단어</div>
      </div>
      <div class="auto-group-zcye-LxG">
        <div class="item-2-W64"></div>
        <div class="auto-group-dyf2-Bxt">
          <div class="auto-group-tuh6-v9n">
            <div class="rectangle-14-SP2"></div>
            <div class="ellipse-13-NXa">
              <div class="ellipse-9-Jw2"></div>
              <div class="item--dCc">+</div>
            </div>
            <div class="ellipse-14-wj6">
              <div class="ellipse-9-ggg"></div>
              <div class="item--DAp">+</div>
            </div>
            <div class="ellipse-15-Kje">
              <div class="ellipse-9-GPz"></div>
              <div class="item--PzQ">+</div>
            </div>
            <div class="ellipse-16-j2g">
              <div class="ellipse-9-fS8"></div>
              <div class="item--zUQ">+</div>
            </div>
            <div class="ellipse-11-vN4">
              <div class="ellipse-9-GB2"></div>
              <div class="item--oAx">+</div>
            </div>
            <div class="ellipse-12-vFa">
              <div class="ellipse-9-4sa"></div>
              <div class="item--BxC">+</div>
            </div>
            <div
              class="such-seem-bureau-throughout-because-guess-saying-get--v96"
            >
              such
              <br />
              ...같은
              <br />

              <br />
              seem
              <br />
              ...것처럼 보이다
              <br />

              <br />
              bureau
              <br />
              …국(局)
              <br />

              <br />
              throughout
              <br />
              …내내
              <br />

              <br />
              because
              <br />
              ...때문에
              <br />

              <br />
              guess
              <br />
              ...라고 생각하다
              <br />

              <br />
              saying
              <br />
              ...라는 말이 있다
              <br />

              <br />
              get
              <br />
              ...시키다
            </div>
            <img class="line-1-LyW" src="REPLACE_IMAGE:138:576" />
            <div class="rectangle-16-h3N"></div>
            <div class="item--cRE">검색</div>
            <img
              class="item-1-X2Q"
              src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-LGx.png"
            />
            <div class="ellipse-9-dDr">
              <div class="ellipse-9-AUg"></div>
              <div class="item--sdz">+</div>
            </div>
            <div class="ellipse-10-PcL">
              <div class="ellipse-9-vsA"></div>
              <div class="item--rF2">+</div>
            </div>
            <div class="rectangle-17-mMz"></div>
            <div class="item--VHz">해당 단어는 이미 추가된 단어입니다.</div>
            <div class="rectangle-18-kUp">
              <div class="rectangle-18-JFS"></div>
              <div class="x-E96">X</div>
            </div>
          </div>
          <div class="rectangle-11-Xdz">뒤로가기</div>
        </div>
        <div class="item-3-BiY"></div>
      </div>
    </div>
  </body>
</html>
