<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>그룹-전체단어</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/groupAll.css" />
  </head>
  <body>
    <div class="item--HmJ">
      <div class="auto-group-hvcq-pmE">
        <div class="person-1-xMe">
          <img
            class="person-1-JAc"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-BMa.png"
          />
          <div class="item--eVN">마이페이지</div>
        </div>
        <div class="rectangle-15-vxg">전체 단어</div>
      </div>
      <div class="auto-group-bgit-pYG">
        <div class="item-2-aGY"></div>
        <div class="auto-group-4dxe-enC">
          <div class="auto-group-7afi-NiC">
            <div class="auto-group-jbap-JLx">
              <div class="item--Cx8">검색</div>
              <img
                class="item-1-zmW"
                src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-d2g.png"
              />
            </div>
            <div class="auto-group-kvx6-t6C">
              <div
                class="such-seem-bureau-throughout-because-guess-saying-get--Rrp"
              >
                such
                <br />
                ...같은
                <br />

                <br />
                seem
                <br />
                ...것처럼 보이다
                <br />

                <br />
                bureau
                <br />
                …국(局)
                <br />

                <br />
                throughout
                <br />
                …내내
                <br />

                <br />
                because
                <br />
                ...때문에
                <br />

                <br />
                guess
                <br />
                ...라고 생각하다
                <br />

                <br />
                saying
                <br />
                ...라는 말이 있다
                <br />

                <br />
                get
                <br />
                ...시키다
              </div>
              <div class="auto-group-f9be-2rc">
                <div class="ellipse-9-9wE">
                  <div class="ellipse-9-hxk"></div>
                  <div class="item--QsA">+</div>
                </div>
                <div class="ellipse-10-icx">
                  <div class="ellipse-9-t1e"></div>
                  <div class="item--cCY">+</div>
                </div>
                <div class="ellipse-11-j2G">
                  <div class="ellipse-9-gTJ"></div>
                  <div class="item--oXv">+</div>
                </div>
                <div class="ellipse-12-XTv">
                  <div class="ellipse-9-UPA"></div>
                  <div class="item--big">+</div>
                </div>
                <div class="ellipse-13-DEG">
                  <div class="ellipse-9-AvC"></div>
                  <div class="item--74k">+</div>
                </div>
                <div class="ellipse-14-2xQ">
                  <div class="ellipse-9-zuE"></div>
                  <div class="item--vXz">+</div>
                </div>
                <div class="ellipse-15-3sW">
                  <div class="ellipse-9-DX6"></div>
                  <div class="item--M7W">+</div>
                </div>
                <div class="ellipse-16-tNL">
                  <div class="ellipse-9-FTn"></div>
                  <div class="item--P4C">+</div>
                </div>
              </div>
              <img class="line-1-Jwr" src="REPLACE_IMAGE:138:512" />
            </div>
          </div>
          <div class="rectangle-11-EKi">뒤로가기</div>
        </div>
        <div class="item-3-gxQ"></div>
      </div>
    </div>
  </body>
</html>
