<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>관리자 전체 단어 목록 페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/indexAll.css" />
  </head>
  <body>
    <div class="item--2L8">
      <div class="auto-group-hxbs-8tx">
        <div class="auto-group-r11z-5JQ">
          <div class="item--d52">관리자 모드</div>
          <div class="person-1-XgC">
            <img
              class="person-1-UbS"
              src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-FD2.png"
            />
            <div class="item--DJ8">마이페이지</div>
          </div>
        </div>
        <div class="auto-group-tvhr-HHz">
          <div class="rectangle-15-ywW">전체 단어</div>
          <div class="rectangle-19-smz">추가</div>
        </div>
      </div>
      <div class="auto-group-jnme-AFJ">
        <div class="item-2-uya"></div>
        <div class="auto-group-fo6g-oZA">
          <div class="auto-group-ffeg-XVA">
            <div class="auto-group-3xtg-eJt">
              <div class="item--YfA">검색</div>
              <img
                class="item-1-UHv"
                src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/-BA8.png"
              />
            </div>
            <div class="auto-group-6hfe-mnp">
              <div
                class="such-seem-bureau-throughout-because-guess-saying-get--Xmz"
              >
                such
                <br />
                ...같은
                <br />

                <br />
                seem
                <br />
                ...것처럼 보이다
                <br />

                <br />
                bureau
                <br />
                …국(局)
                <br />

                <br />
                throughout
                <br />
                …내내
                <br />

                <br />
                because
                <br />
                ...때문에
                <br />

                <br />
                guess
                <br />
                ...라고 생각하다
                <br />

                <br />
                saying
                <br />
                ...라는 말이 있다
                <br />

                <br />
                get
                <br />
                ...시키다
              </div>
              <div class="auto-group-kcgp-B5r">
                <img
                  class="cursor-1-6ic"
                  src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/cursor-1.png"
                />
                <div class="rectangle-17-2MN">수정</div>
                <div class="rectangle-18-KLU">삭제</div>
                <img class="line-1-cKa" src="REPLACE_IMAGE:138:694" />
              </div>
            </div>
          </div>
          <div class="rectangle-11-8Yp">뒤로가기</div>
        </div>
        <div class="item-3-bSQ"></div>
      </div>
    </div>
  </body>
</html>
