<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>관리자 단어 수정 페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/indexModify.css" />
  </head>
  <body>
    <div class="item--v8Y">
      <div class="auto-group-eupk-DtL">
        <div class="auto-group-fr6x-Yvc">
          <div class="item--7D2">관리자 모드</div>
          <div class="person-1-o5r">
            <img
              class="person-1-YJL"
              src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-yPv.png"
            />
            <div class="item--Uxg">마이페이지</div>
          </div>
        </div>
        <div class="rectangle-15-AKi">전체 단어</div>
        <div class="auto-group-8vjc-EKa">
          <div class="item--ikY">
            단어
            <br />

            <br />
            뜻
          </div>
          <div class="auto-group-ofrg-QtG">
            <div class="rectangle-16-kSL"></div>
            <div class="rectangle-17-GvU"></div>
          </div>
        </div>
      </div>
      <div class="auto-group-ra8g-Nic">
        <div class="auto-group-qhha-XbW">
          <div class="item-2-4LY"></div>
          <div class="rectangle-10-YWc">취소</div>
          <div class="rectangle-11-oSY">수정하기</div>
        </div>
        <div class="item-3-fje"></div>
      </div>
    </div>
  </body>
</html>
