<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>회원가입-중복가입</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/joinMemFailed3.css" />
  </head>
  <body>
    <div class="item--PsN">
      <div class="item-2-WSC"></div>
      <div class="auto-group-hkuv-awr">
        <div class="auto-group-zikg-WqW">
          <div class="rectangle-2-3Ke"></div>
          <div class="item--a4g">회원가입</div>
          <div class="rectangle-7-4Ve"></div>
          <div class="rectangle-12-mur"></div>
          <div class="rectangle-13-HdJ"></div>
          <div class="item--p7S">이름</div>
          <div class="email-vRN">아이디(Email)</div>
          <div class="item--DvG">비밀번호</div>
          <div class="rectangle-5-XRA"></div>
          <div class="item--TJp">중복확인</div>
          <div class="rectangle-11-NAt"></div>
          <div class="item--GXA">가입하기</div>
          <div class="rectangle-10-xPz">취소</div>
          <div class="item-412--dFE">4~12자/영문+숫자</div>
          <img
            class="clip-1-iXa"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/clip-1-c4Q.png"
          />
          <div class="item--SyN">이미 등록된 회원입니다.</div>
        </div>
        <div class="item--ivt">가입 시 레벨 테스트가 시작됩니다 !</div>
      </div>
      <div class="item-3-C5N"></div>
    </div>
  </body>
</html>
