<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>회원가입-비밀번호 형식이 맞지 않는 경우</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/joinMemFailed1.css" />
  </head>
  <body>
    <div class="item--xue">
      <div class="item-2-f3N"></div>
      <div class="auto-group-bnbr-x2U">
        <div class="auto-group-tayp-5ct">
          <div class="rectangle-2-1mS"></div>
          <div class="item--wuz">회원가입</div>
          <div class="rectangle-7-dXv"></div>
          <div class="rectangle-12-9mA"></div>
          <div class="rectangle-13-G56"></div>
          <div class="item--Ndv">이름</div>
          <div class="email-9o6">아이디(Email)</div>
          <div class="item--Ton">비밀번호</div>
          <div class="rectangle-5-9Ri"></div>
          <div class="item--fex">중복확인</div>
          <div class="rectangle-11-ZEY"></div>
          <div class="item--Gek">가입하기</div>
          <div class="rectangle-10-xnU">취소</div>
          <div class="item-412--Ejz">
            비밀번호 형식에 맞지 않습니다. (4~12자/영문+숫자)
          </div>
          <img
            class="clip-1-sY4"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/clip-1-CJC.png"
          />
        </div>
        <div class="item--ogc">가입 시 레벨 테스트가 시작됩니다 !</div>
      </div>
      <div class="item-3-HLt"></div>
    </div>
  </body>
</html>
