<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>레벨 테스트 결과 페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/levelTestResult2.css" />
  </head>
  <body>
    <div class="item--guW">
      <div class="item-2-BLU"></div>
      <div class="auto-group-dvpw-fWY">
        <div class="rectangle-9-yn8">결과</div>
        <div class="auto-group-hqwu-Ru2">
          <div class="item-7-20-1019-10--9a8">
            <span class="item-7-20-1019-10--9a8-sub-0">
              하
              <br />
            </span>
            <span class="item-7-20-1019-10--9a8-sub-1">
              <br />
            </span>
            <span class="item-7-20-1019-10--9a8-sub-2">
              내가 맞은 개수 : 7개
              <br />

              <br />
              상 : 20개 이상
              <br />
              중 : 10~19개
              <br />
              하 : 10개 미만
            </span>
          </div>
        </div>
        <div class="auto-group-wzeg-R3n">
          <div class="rectangle-10-AXA">이전</div>
          <div class="rectangle-8-q7W">확인</div>
        </div>
      </div>
      <div class="item-3-udA"></div>
    </div>
  </body>
</html>
