<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>마이페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/myPage.css" />
  </head>
  <body>
    <div class="item--fqA">
      <div class="item-2-PWG"></div>
      <div class="auto-group-dnjj-V3W">
        <div class="rectangle-2-Pua"></div>
        <div class="person-1-WzC">
          <img
            class="person-1-r2U"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-C7i.png"
          />
          <div class="item--z8g">마이페이지</div>
        </div>
        <img
          class="clip-1-tUx"
          src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/clip-1-CAk.png"
        />
        <div class="rectangle-10-DXE">뒤로가기</div>
        <div class="rectangle-11-5JY">로그아웃</div>
        <div class="item--LkG">
          <div class="item--qwv">이름 : 허영현</div>
          <div class="email-abcdenavercom-xWk">
            아이디(Email) : abcde@naver.com
          </div>
          <div class="abcd-UV6">비밀번호 : 1234abcd</div>
          <div class="item--DBn">레벨 테스트 결과 : 하</div>
          <div class="item-382-83r">내 티어 : 브론즈(382점)</div>
        </div>
      </div>
      <div class="item-3-dFW"></div>
    </div>
  </body>
</html>
