<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>단어 검색 해당 단어 존재 X</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/serachFailed.css" />
  </head>
  <body>
    <div class="x-S5e">
      <div class="auto-group-gkhi-aBr">
        <div class="person-1-6vt">
          <img class="person-1-dfv" src="./static/assets/person-1-aQG.png" />
          <div class="item--ZpU">마이페이지</div>
        </div>
        <div class="rectangle-15-qX6">전체 단어</div>
      </div>
      <div class="auto-group-8ajt-JvU">
        <div class="item-2-rh6"></div>
        <div class="auto-group-1eze-LsA">
          <div class="auto-group-yksa-scC">
            <div class="auto-group-b5ex-CPa">
              <div class="dskvsddso-82L">dskvsddso</div>
              <img class="item-1-qxL" src="./assets/.png" />
            </div>
            <div class="item--Y64">해당 단어는 존재하지 않습니다.</div>
            <div class="rectangle-10-Qtx">확인</div>
          </div>
          <div class="rectangle-11-qDa">뒤로가기</div>
        </div>
        <div class="item-3-Wac"></div>
      </div>
    </div>
  </body>
</html>
