<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>회원가입페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/signUp.css" />
  </head>
  <body>
    <div class="item--3ZA">
      <div class="item-2-xw2"></div>
      <div class="auto-group-6kmw-GB2">
        <div class="auto-group-e2il-bUC">
          <div class="rectangle-2-vFa"></div>
          <div class="item--Foe">회원가입</div>
          <div class="rectangle-7-98L"></div>
          <div class="rectangle-12-4WC"></div>
          <div class="rectangle-13-nSC"></div>
          <div class="item--tk8">이름</div>
          <div class="email-o6Q">아이디(Email)</div>
          <div class="item--hxU">비밀번호</div>
          <div class="rectangle-5-Qrt"></div>
          <div class="item--8nt">중복확인</div>
          <div class="rectangle-11-qSQ"></div>
          <div class="item--Yrc">가입하기</div>
          <div class="rectangle-10-Swz">취소</div>
          <div class="item-412--Kkt">4~12자/영문+숫자</div>
          <img
            class="clip-1-17v"
            src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/clip-1-o4L.png"
          />
        </div>
        <div class="item--Yde">가입 시 레벨 테스트가 시작됩니다 !</div>
      </div>
      <div class="item-3-2Yp"></div>
    </div>
  </body>
</html>
