<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>단어 학습 페이지</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/studyWords.css" />
  </head>
  <body>
    <div class="item--Mcc">
      <div class="person-1-4G8">
        <img
          class="person-1-zQg"
          src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-f6x.png"
        />
        <div class="item--9Ha">마이페이지</div>
      </div>
      <div class="item--pPi">오늘의 학습단어</div>
      <div class="auto-group-v2cx-iV6">
        <div class="rectangle-11-ffE">나가기</div>
        <div class="auto-group-r9xu-Kjn">
          <div class="rectangle-2-4Ba"></div>
          <div class="rectangle-12-PUk"></div>
          <div class="rectangle-13-vzU">
            <div class="rectangle-13-5Ma"></div>
            <div class="rainbow-shimmer-wheat-trouble-mutual-dP6">
              rainbow
              <br />
              무지개
              <br />

              <br />
              shimmer
              <br />
              미광
              <br />

              <br />
              wheat
              <br />
              밀
              <br />

              <br />
              trouble
              <br />
              문제
              <br />

              <br />
              mutual
              <br />
            </div>
            <div class="line-1-Vw6"></div>
          </div>
        </div>
        <div class="rectangle-10-S5e">테스트 시작</div>
      </div>
    </div>
  </body>
</html>
