<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>학습 단어 테스트 결과</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/testResult.css" />
  </head>
  <body>
    <div class="item--v3A">
      <div class="rectangle-6-Lsa"></div>
      <div class="rectangle-6-tPJ"></div>
      <div class="person-1-SQp">
        <img
          class="person-1-B7W"
          src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-XH2.png"
        />
        <div class="item--m5i">마이페이지</div>
      </div>
      <div class="rectangle-12-2nL">확인</div>
      <div class="item--JE4">테스트 결과</div>
      <div class="rectangle-2-zMn"></div>
      <div class="line-1-X6p"></div>
      <div class="q1-ivory-q2-status-q3-emerge-q4-prize--fD2">
        Q1. ‘ivory’ 의 뜻은 ‘어항’ 이다.
        <br />

        <br />

        <br />

        <br />
        Q2. ‘status’ 의 뜻은 ‘상태’ 이다.
        <br />

        <br />

        <br />

        <br />
        Q3. ‘emerge’ 의 뜻은 ‘현실적인’ 이다.
        <br />

        <br />

        <br />

        <br />
        Q4. ‘prize’ 의 뜻은 ‘증거’ 이다.
        <br />
      </div>
      <div class="frame-1-UAU">
        <div class="rectangle-17-QZv">
          <div class="rectangle-17-9nQ"></div>
          <div class="o-Gs2">O</div>
        </div>
        <div class="rectangle-18-pNk">
          <div class="rectangle-18-ymS"></div>
          <div class="x-Vjn">X</div>
        </div>
      </div>
      <div class="frame-2-RdS">
        <div class="rectangle-17-AL8">
          <div class="rectangle-17-icY"></div>
          <div class="o-3Pv">O</div>
        </div>
        <div class="rectangle-18-aue">
          <div class="rectangle-18-xFz"></div>
          <div class="x-t9e">X</div>
        </div>
      </div>
      <div class="frame-3-Dhi">
        <div class="rectangle-17-9rG">
          <div class="rectangle-17-uqS"></div>
          <div class="o-2v4">O</div>
        </div>
        <div class="rectangle-18-Zf6">
          <div class="rectangle-18-vkY"></div>
          <div class="x-Fnp">X</div>
        </div>
      </div>
      <div class="frame-4-11J">
        <div class="rectangle-17-YG8">
          <div class="rectangle-17-hep"></div>
          <div class="o-dHa">O</div>
        </div>
        <div class="rectangle-18-meg">
          <div class="rectangle-18-LSt"></div>
          <div class="x-UJC">X</div>
        </div>
      </div>
      <div class="item-11-pcx">11점</div>
    </div>
  </body>
</html>
