<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>단어 개수 지정 - 레벨 상</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jua%3A400"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"
    />
    <link rel="stylesheet" href="/수뭉보카/css/testSelecHigh.css" />
  </head>
  <body>
    <div class="item--5BN">
      <div class="person-1-mK6">
        <img
          class="person-1-6cG"
          src="../../../../../../Downloads/Export_HTML_20230508044445%20(1)/assets/person-1-qvp.png"
        />
        <div class="item--r5e">마이페이지</div>
      </div>
      <div class="rectangle-7-j9S">오늘 학습할 단어의 개수를 지정해주세요.</div>
      <div class="auto-group-6ue4-bBe">
        <div class="rectangle-13-Jrk">취소</div>
        <div class="rectangle-9-xgQ">
          <div class="rectangle-9-73W"></div>
          <div class="item-15-pyW">15개</div>
        </div>
        <div class="rectangle-10-xK2">
          <div class="rectangle-10-6g8"></div>
          <div class="item-20-RiQ">25개</div>
        </div>
        <div class="rectangle-12-M6G">다음</div>
      </div>
    </div>
  </body>
</html>
